@font-face {
    font-family: 'Renault Life';
    src: url('../fonts/RenaultLife.eot');
    src: local('RenaultLife'),
        url('../fonts/RenaultLife.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RenaultLife.woff') format('woff'),
        url('../fonts/RenaultLife.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Renault Life';
    src: url('../fonts/RenaultLife-Light.eot');
    src: local('RenaultLife-Light'),
        url('../fonts/RenaultLife-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RenaultLife-Light.woff') format('woff'),
        url('../fonts/RenaultLife-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Renault Life';
    src: url('../fonts/RenaultLife-Bold.eot');
    src: local('../fonts/RenaultLife-Bold'),
        url('../fonts/RenaultLife-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RenaultLife-Bold.woff') format('woff'),
        url('../fonts/RenaultLife-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
